<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse.amrith.drishti17volunteers">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Volunteer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registration"
            android:label="@string/confirm_payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventVolunteer"
            android:label="@string/event_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Utils.QR"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Score"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventCoordinator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseEvent"
            android:screenOrientation="portrait" />


        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>